@page "/clients"

@inject HttpClient httpClient;

@code
{
    protected IEnumerable<Client> _clients;

    protected async Task OnInitialized()
    {
        base.OnInitialized();
        var request = new HttpRequestMessage
        {
            RequestUri = new Uri("http://localhost:5120/Clients/all"),
            Method = HttpMethod.Get
        };

        using var response = await httpClient.SendAsync(request);

        _clients = await response.Content.ReadFromJsonAsync<Client[]>();
    }

}
<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Имя</TableHeaderCell>
            <TableHeaderCell>Телефон</TableHeaderCell>
            <TableHeaderCell>Адрес электронной почты</TableHeaderCell>
            <TableHeaderCell>Адрес доставки</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var client in _clients)
        {
            <TableRow>
                <TableDataCell>@client.Name</TableDataCell>
                <TableDataCell>@client.PhoneNumber</TableDataCell>
                <TableDataCell>@client.Email</TableDataCell>
                <TableDataCell>@client.DeliveryAddress</TableDataCell>
            </TableRow>
        }
    </TableBody>
</Table>


