@page "/clients"

@inject HttpClient HttpClient;


<Table Striped>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Имя</TableHeaderCell>
            <TableHeaderCell>Телефон</TableHeaderCell>
            <TableHeaderCell>Адрес электронной почты</TableHeaderCell>
            <TableHeaderCell>Адрес доставки</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var client in _clients)
        {
            <TableRow>
                <TableRowCell>@client.Name</TableRowCell>
                <TableRowCell>@client.PhoneNumber</TableRowCell>
                <TableRowCell>@client.Email</TableRowCell>
                <TableRowCell>@client.DeliveryAddress</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code
{
    protected IEnumerable<Client> _clients = Array.Empty<Client>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var request = new HttpRequestMessage
        {
            RequestUri = new Uri("https://localhost:7025/Clients/all"),
            Method = HttpMethod.Get
        };

        using var response = await HttpClient.SendAsync(request);

        _clients = await response.Content.ReadFromJsonAsync<Client[]>();
    }
}
